[Unit]
Description=Sirius RF Calibration Module SPI Interface
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/opt/cas-rf-calibration-module/RFCalibrationModuleSPI
ExecStart=/usr/local/bin/procServ -L - --allow -f 20201 /usr/bin/python /opt/cas-rf-calibration-module/RFCalibrationModuleSPI/run.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
