[Unit]
Description=Sirius RF Calibration Module IOC 
Wants=network-online.target
After=network-online.target

After=cas-rf-calibration-module-spi.service
Wants=cas-rf-calibration-module-spi.service

[Service]
Restart=always
RestartSec=10
Type=simple
User=iocuser
Group=ioc

WorkingDirectory=/opt/cas-rf-calibration-module/iocBoot/iocRFCalibrationModule
ExecStart=/usr/local/bin/procServ -L - --allow -f --chdir /opt/cas-rf-calibration-module/iocBoot/iocRFCalibrationModule 20200 ./st.cmd
ExecStartPre=/bin/sleep 50

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
